<section class="mt-20 w-full">
  <h2
    class="font-bold font-global text-xl md:text-3xl text-light-dark-grayish-blue dark:text-white"
  >
    Overview - Today
  </h2>

  <section class="mt-8 w-full"></section>
</section>
